@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root {
    font-family: "Carlito", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 400;

    @apply text-primary-900 bg-neutral-light;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  html {
    scroll-behavior: smooth;
  }
  #root{
    width: 100%;
    min-height: 100vh;
  }

  body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  }

  a {
    @apply text-accent hover:text-emerald;
  }

  h1 {
    font-family: "El Messiri";
    @apply text-[6rem] sm:text-[4rem] lg:text-[5rem] xl:text-[6.5rem] 2xl:text-[7rem];
    line-height: 1;

  }
  h2 {
    font-family: "Carlito";
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
    @apply text-accent;
  }
  h3 {
    font-family: "Carlito";
    font-size: 2.5rem;
    line-height: 1.2;
  }
  h4 {
    font-family: "Carlito";
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 700;
  }
  h5 {
    font-family: "Carlito";
    font-size: 1.25rem;
    line-height: 1.2;
  }
  h6 {
    font-family: "Carlito";
    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: 700;
  }

}

@layer components{
  .subtitle-home{
    @apply text-[3.75rem] sm:text-[3.5rem] lg:text-[4rem] xl:text-[5.5rem] 2xl:text-[6rem];
  }
  .home-h3{
    @apply text-[1.5rem] sm:text-[2rem] xl:text-[2.5rem];
  }
  .menu-item{
    @apply text-[1.25rem] lg:text-[1.125rem] xl:text-[1.25rem];
    line-height: 1.2;
    @apply text-primary-900 hover:text-accent text-center;
  }
  .logo-text{
    font-family: "El Messiri";
    @apply text-3xl lg:text-2xl xl:text-3xl font-bold text-emerald hover:text-accent;
  }
  .container-width{
    @apply xl:max-w-[1440px];
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @apply px-[1.5rem] sm:px-[2rem] md:px-[3rem] lg:px-[4.5rem] 2xl:px-[6rem];
    position: relative;
  }
  .btn{
    @apply bg-accent py-4 sm:py-6 px-6 rounded-full 
    text-center text-neutral-light text-xl sm:text-2xl font-bold 
    hover:text-neutral-light 
    hover:bg-emerald_dark transition-colors;
  }
  .telegram-menu{
    @apply py-2 px-4;
    @apply text-[1.25rem] lg:text-[1.125rem] xl:text-[1.25rem] font-normal;
    line-height: 1.2;
  }
  .hero-image {
  position: absolute;
  height: 100vh;
  min-width: 140vh; 
  left: calc(25vw - (100vh * 1.4) * 0.25);
  object-fit: cover;
  object-position: left;
  transition: transform 0.1s ease-out;
  }
}

@layer utilities{
  .grow-2{
    flex-grow: 2;
  }
  .grow-1{
    flex-grow: 1;
  }
  .grow-3{
    flex-grow: 3;
  }
  .grow-5{
    flex-grow: 5;
  }
  .min-w-7ch{
    min-width: 7ch;
  }
  .text-32{
    font-size: 2rem;
    line-height: 1.2;
  }
  .h-screen-minus-navbar{
    height: calc(100vh - 88px);
  }
}